.nav {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
  margin-bottom: 40px;
}

.nav__logo-img {
  display: inline-block;

  width: 16.31px;
  height: 33.93px;

  background-image: url(./../icons/user-icon.png);
}

.nav__logo-text {
  display: inline-block;

  width: 135.83px;
  height: 21.82px;
  margin-left: 12px;

  background-image: url(./../images/Logo-name.svg);
}

.nav__burger {
  background-image: url(./../icons/Hamburguer.svg);

  width: 42px;
  height: 42px;

  position: relative;
}

.header__main {
  display: none;
  
  width: 177px;
  height: 197px;
  border-radius: 18px;
  padding: 44px;

  background-color: rgb(255, 255, 255);

  position: absolute;
  right: 0;
  top: 0;

  text-align: center;
}
.header__main-link{
  display: block;

  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.link-orange{
  color: #E48E00;
}
.link-bluу{
  color: #55ACEE;
margin-bottom: 15px;
margin-top: 15px;
}
.link-green{
color: #34D399;
}

.nav__burger:hover>.header__main {
  display: block;
}

